@charset "UTF-8";
@import url("https://nyri4.github.io/donators/donators.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
:root .threadSidebar-1o3BTy {
  position: fixed;
  top: 220px;
  bottom: 85px;
  right: 60px;
  width: 320px;
  min-width: unset;
  border-radius: var(--border-radius);
  background-color: var(--background-primary);
  padding-bottom: 26px;
  overflow: visible;
}
:root .threadSidebar-1o3BTy::-webkit-scrollbar {
  margin-right: 50px;
}
:root .threadSidebar-1o3BTy::before {
  content: "Thread";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .threadSidebar-1o3BTy::after {
  content: "";
  position: fixed;
  bottom: 85px;
  z-index: 1;
  width: 320px;
  height: 35px;
  background-color: var(--background-secondary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 21px 2px;
  background-repeat: repeat-x;
}
:root .embedFull-1HGV2S {
  border: none;
  margin-left: 10px;
  border-radius: 5px var(--border-radius) var(--border-radius) 5px;
}
:root .embedFull-1HGV2S:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -10px;
  width: 0px;
  border: solid;
  border-width: 0 0 0 6px;
  border-color: inherit;
  border-radius: var(--border-radius);
}
:root .hljs {
  border: none;
  border-radius: var(--border-radius);
}
:root .wrapperAudio-1Bzv_Z {
  padding: 10px 0 0 0;
  border-radius: var(--border-radius);
}
:root .audioMetadata-1Hrt8T {
  padding: 5px 10px;
}
:root .audioControls-3fmemK {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .spoilerText-27bIiA.hidden-3B-Rum, :root .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: var(--background-secondary-alt);
}
:root .wrapper-1HIH0j {
  border-radius: var(--border-radius);
}
:root .invite-3uuHYQ {
  background-color: var(--background-secondary);
  border: none;
  border-radius: var(--border-radius);
}
:root .embedSpotify-1rDvOE {
  border-radius: var(--border-radius);
}
:root .tile-2mmK5T {
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
}
:root .tileHorizontal-1DBMDZ.tile-2mmK5T:hover {
  background-color: var(--background-secondary-alt);
}
:root .invalidPoop--w1123 {
  background-color: rgba(0, 0, 0, 0.103);
}
:root .autocomplete-3NRXG8, :root .option-Tt7anD {
  background-color: var(--background-secondary-alt);
}
:root .categoryHeader-OpJ1Ly, :root .selected-3H3-RC {
  background-color: var(--background-tertiary);
}
:root .everyonePopout-nEbJY3 {
  background-color: var(--background-primary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .emojiItem-277VFM.emojiItemSelected-2Lg50V {
  background-color: var(--background-modifier-selected);
}
:root .searchBar-2M9mRP {
  border-radius: var(--border-radius);
}
:root .imageLoading-2uloYN {
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}
:root .scroller-2GkvCq {
  background: var(--background-tertiary);
}
:root .container-KM8BU6, :root .reactors-1VXca7 {
  background: var(--background-secondary);
}
:root .reactionSelected-1aMb2K {
  background-color: #6e85d321;
}
:root .reactorDefault-3GSyaV {
  box-shadow: inset 0 -1px 0 var(--background-primary);
}
:root .message-G6O-Wv {
  background: var(--background-primary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .textContainer-36wgKK, :root .footer-GXWBBp {
  border: none;
}
:root .popoutContainer-2wbmiM {
  border-radius: var(--border-radius);
}
:root .newMessagesBar-1hF-9G {
  top: 5px;
  border-radius: var(--border-radius);
  background-color: var(--background-accent);
  padding-top: 0;
}
:root .jumpToPresentBar-1cEnH0 {
  bottom: 12px;
  padding-bottom: 0;
  border-radius: var(--border-radius);
}
:root .wrapper-2SplAX {
  border-radius: var(--border-radius);
}
:root .reaction-2A2y9y {
  border-radius: var(--border-radius);
}
:root .wrapper-2vIMkT {
  border-radius: var(--border-radius);
}
:root .botTagRegular-kpctgU {
  background-color: var(--background-accent);
}
:root .cooldownWrapper-2k1jHK {
  color: var(--text-muted) !important;
}

:root .guilds-2JjMmN .scroller-3X7KbA {
  padding: 8px 0 130px 0;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-28eC3z foreignObject {
  mask: none;
  border-radius: var(--border-radius);
  transition: border-radius 0.15s;
}
:root .guilds-2JjMmN .scroller-3X7KbA .wrapper-28eC3z foreignObject:hover {
  border-radius: calc(var(--border-radius) - 5px);
}
:root .guilds-2JjMmN .scroller-3X7KbA .folder-241Joy {
  background-color: transparent;
}
:root .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg {
  color: var(--background-accent);
  background-color: var(--background-secondary-alt) !important;
}

.theme-light .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.theme-light .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--text-normal);
}

.theme-dark .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.theme-dark .wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--background-primary);
}

.wrapperSimple-Js2rIO,
.folderIconWrapper-226oVY, .folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-, .flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--border-radius);
}

.panels-3wFtMD {
  z-index: unset;
}

.panel-2ZFCRb {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 56px;
  border-bottom: none;
  background-color: var(--background-tertiary);
  transition: width 0.35s;
}
.panel-2ZFCRb .gameWrapper-2TFy7F {
  margin-left: 12px;
}
.panel-2ZFCRb .info-88fTUI, .panel-2ZFCRb .actions-zk2vB_ {
  opacity: 0;
}
.panel-2ZFCRb:hover {
  width: 274px;
  margin: 8px;
  z-index: 1;
  border-radius: 5px var(--border-radius) var(--border-radius) 5px;
  border-left: 5px solid var(--background-accent);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
.panel-2ZFCRb:hover .gameWrapper-2TFy7F {
  margin-left: 0;
}
.panel-2ZFCRb:hover .info-88fTUI, .panel-2ZFCRb:hover .actions-zk2vB_ {
  opacity: 1;
}

.activityPanel-9icbyU ~ .powercord-spotify {
  bottom: 50px;
  transition: 0.35s;
}

.activityPanel-9icbyU:hover ~ .powercord-spotify {
  bottom: 60px;
}

.powercord-spotify {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: var(--background-tertiary);
  transition: width 0.25s, margin 0.25s;
}
.powercord-spotify .container-YkUktl {
  margin-top: 5px;
}
.powercord-spotify .container-YkUktl .avatarWrapper-1B9FTW {
  margin-left: 4px;
}
.powercord-spotify .container-YkUktl .avatarWrapper-1B9FTW .spotify-cover {
  width: 48px !important;
  height: auto !important;
}
.powercord-spotify .container-YkUktl .nameTag-sc-gpq, .powercord-spotify .container-YkUktl .spotify-buttons {
  opacity: 0;
}
.powercord-spotify .spotify-seek .spotify-seek-bar {
  height: 5px;
  margin: 5px 8px 8px 8px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--background-primary);
}
.powercord-spotify .spotify-seek .spotify-seek-bar .spotify-seek-bar-progress {
  border-radius: var(--border-radius);
}
.powercord-spotify.hover {
  width: 290px;
  margin: 8px;
  z-index: 3;
  border-radius: 5px var(--border-radius) var(--border-radius) 5px;
  border-left: 5px solid var(--background-accent);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
.powercord-spotify.hover .container-YkUktl {
  flex-direction: column;
  height: unset;
}
.powercord-spotify.hover .container-YkUktl .avatarWrapper-1B9FTW {
  margin: -30px 0 0 0;
}
.powercord-spotify.hover .container-YkUktl .avatarWrapper-1B9FTW .spotify-cover {
  width: 100px !important;
  height: auto !important;
}
.powercord-spotify.hover .container-YkUktl .nameTag-sc-gpq {
  text-align: center;
  margin: 15px 0;
  opacity: 1;
  max-width: 260px;
}
.powercord-spotify.hover .container-YkUktl .spotify-buttons {
  text-align: center;
  margin-bottom: 15px;
  opacity: 1;
}
.powercord-spotify.hover .spotify-seek .spotify-seek-elements {
  margin: 0 8px;
}
.powercord-spotify.hover .spotify-seek .spotify-seek-bar {
  height: 15px;
}

:root .content-1SgpWY .sidebar-1tnWFu {
  border-radius: 0;
}
:root #guild-header-popout .item-1OdjEX {
  flex-direction: row-reverse;
}
:root #guild-header-popout .item-1OdjEX .iconContainer-1-SsTR {
  margin: 0 8px 0 0;
}
:root .colorPremium-vwmYZQ.focused-3qFvc8 .icon-E4cW1l,
:root .colorPremium-vwmYZQ:active:not(.hideInteraction-2jPGL_) .icon-E4cW1l {
  color: #ff73fa;
}
:root .content-1gYQeQ {
  border-radius: var(--border-radius);
}
:root .content-1Tgc42 {
  border-radius: var(--border-radius);
}
:root .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-tertiary);
}
:root .container-1ILvLB section {
  background-color: var(--background-secondary);
}

:root [href="https://support.discord.com"], :root .searchLearnMore-7__o_n .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  display: none;
}
:root .search-39IXmY {
  order: 1;
  margin-left: 0;
}
:root .search-39IXmY .focused-8aNhVB .searchBar-zdmu7v, :root .search-39IXmY .open-3y3yI_ .searchBar-zdmu7v {
  width: 320px;
  border-radius: var(--border-radius);
}
:root .search-39IXmY .search-1FM8Qc:not(.open-3y3yI_) .searchBar-zdmu7v {
  width: 27px;
  transition: 0.25s;
  background-color: transparent;
}
:root .search-39IXmY .search-1FM8Qc:not(.open-3y3yI_):hover .searchBar-zdmu7v {
  width: 240px;
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius);
}
:root .search-39IXmY .search-1FM8Qc:not(.open-3y3yI_) .iconContainer-1RqWJj {
  transform: scale(1.2);
  transition: 0.25s;
}
:root .search-39IXmY .search-1FM8Qc:not(.open-3y3yI_):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
:root .search-39IXmY .searchAnswer-23w-CH, :root .search-39IXmY .searchFilter-2UfsDk {
  background-color: var(--background-primary);
}
:root .container-2McqkF {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .container-2McqkF .queryContainer-ZunrLZ {
  border-bottom: none;
}
:root .container-2McqkF .focused-2FU0YH {
  background-color: var(--background-secondary-alt);
  border-bottom: none;
}
:root .container-2McqkF .resultsGroup-1BPR25::before {
  display: none;
}
:root .container-2McqkF .resultsGroup-1BPR25 .header-3A13BX {
  text-align: center;
}
:root .container-2McqkF .option-2KkUJO {
  border-radius: var(--border-radius);
}
:root .container-2McqkF .option-2KkUJO:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary-alt) 80%);
}
:root .container-2McqkF .option-2KkUJO.selected-rZcOL-:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);
}
:root .container-2McqkF .option-2KkUJO .answer-2fBfuP {
  color: var(--interactive-muted);
}
:root .calendarPicker-sDhzdi .react-datepicker {
  background-color: var(--background-secondary-alt);
}
:root .calendarPicker-sDhzdi .react-datepicker__day, :root .calendarPicker-sDhzdi .react-datepicker__header {
  background: var(--background-secondary-alt) !important;
  border-color: var(--background-tertiary) !important;
}
:root .calendarPicker-sDhzdi .react-datepicker__day::after, :root .calendarPicker-sDhzdi .react-datepicker__header::after {
  background-color: var(--background-accent) !important;
}
:root .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY,
:root .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
  background-color: var(--background-accent);
}
:root .searchLearnMore-7__o_n {
  display: none;
}
:root .searchResultsWrap-5RVOkx {
  overflow: visible;
}
:root .searchResultsWrap-5RVOkx::before {
  content: "Search results";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .searchResultsWrap-5RVOkx::after {
  content: "";
  position: absolute;
  bottom: -35px;
  z-index: 1;
  width: 100%;
  height: 35px;
  background-color: var(--background-secondary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 21px 2px;
  background-repeat: repeat-x;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  height: unset;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh > * {
  justify-content: center;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh .totalResults-2On644 {
  grid-column: 1/4;
}
:root .searchResultsWrap-5RVOkx .searchHeader-1r_ZSh .tab-2j5AEF {
  padding: 0;
  margin: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ {
  padding: 8px 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .searchResultGroup-1lU_-i {
  padding: 0 2px 0 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .repliedMessage-3Z6XBG {
  margin-left: 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .repliedMessage-3Z6XBG::before {
  display: none;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .wrapper-30-Nkg {
  padding: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 8px;
  align-items: center;
  margin: 5px 5px 5px 8px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .header-2jRmjb {
  display: flex;
  flex-direction: column;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .header-2jRmjb .timestamp-p1Df1m {
  margin-left: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .avatar-2e8lTP {
  position: static;
  margin-top: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .contents-2MsGLg .messageContent-2t3eCI {
  grid-column: 1/3;
  padding-left: 10px;
  margin: 0;
  padding: 0;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .embedWrapper-1MtIDg {
  margin-left: 5px;
}
:root .searchResultsWrap-5RVOkx .scroller-3iiyhZ .pageControl-1XvHg0 {
  width: 100%;
}
:root .messagesPopoutWrap-3zryHW {
  border-radius: var(--border-radius);
}

:root .membersWrap-3NUR2t::before {
  content: "Membres Discord";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .membersWrap-3NUR2t .members-3WRCEx {
  width: 100%;
  background-color: var(--background-primary);
}
:root .membersWrap-3NUR2t .members-3WRCEx .content-2a4AW9 {
  min-height: 1000px;
  background-color: transparent;
}
:root .membersWrap-3NUR2t .members-3WRCEx .member-2gU6Ar {
  max-width: 300px;
  border-radius: var(--border-radius);
  background-color: var(--background-primary);
}
:root .membersWrap-3NUR2t::after {
  content: "";
  position: absolute;
  bottom: -35px;
  z-index: 1;
  width: 100%;
  height: 35px;
  background-color: var(--background-secondary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 21px 2px;
  background-repeat: repeat-x;
}
:root .layout-1qmrhw {
  border-radius: var(--border-radius);
}
:root .userPopout-2j1gM4 {
  display: grid;
  grid-template-areas: "banner body" "user-infos body" "footer body";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 180px auto 1fr;
  width: unset !important;
  max-width: 600px;
  min-height: 300px;
  padding: 8px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .userPopout-2j1gM4 .headerNormal-3Zn_yu {
  grid-area: banner;
  width: 100%;
  height: 100%;
}
:root .userPopout-2j1gM4 .headerNormal-3Zn_yu .banner-1YaD3N {
  width: 100%;
  height: 100%;
  max-width: unset;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF {
  grid-area: user-infos;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex: 1 1 50%;
  padding: 0;
  background-color: var(--background-secondary-alt);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  flex: 1;
  width: calc(100% - 24px);
  padding: 12px;
  max-width: unset;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR .profileBadge22-3GAYRy {
  width: 30px;
  height: 30px;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq {
  display: flex;
  flex-direction: column;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  align-items: flex-start;
  justify-content: center;
  padding: 12px 12px 12px 24px;
  background-color: var(--background-primary);
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .headerTag-3GXZkV, :root .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .nickname-t08Mck {
  font-size: 16px;
}
:root .userPopout-2j1gM4 .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E {
  grid-area: body;
  padding: 0 !important;
}
:root .userPopout-2j1gM4 .body-2wLx-E .customStatus-3XAoF9 {
  position: relative;
  overflow: hidden;
  width: calc(100% - 8px);
  margin: 0 0 8px 8px;
  padding: 36px 8px 8px 8px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .userPopout-2j1gM4 .body-2wLx-E .customStatus-3XAoF9::before {
  content: "CUSTOM STATUS";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: var(--header-secondary);
  background-color: var(--background-primary);
  padding: 5px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .divider-1wtgZ3 {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v {
  margin: 0 0 8px 8px;
  padding: 0 0 8px 0;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
  overflow: hidden;
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v .userInfoTitle-39qq0Y {
  justify-content: center;
  background-color: var(--background-primary);
  padding: 5px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v .userInfoBody-1zgAd0 {
  padding: 0 12px;
  -webkit-line-clamp: 190;
  max-height: 112px;
  overflow-x: hidden;
  overflow-y: scroll;
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v .userInfoBody-1zgAd0::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v .userInfoBody-1zgAd0::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--background-secondary-alt);
}
:root .userPopout-2j1gM4 .body-2wLx-E .userInfoSection-3her-v .userInfoBody-1zgAd0::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--background-tertiary);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
  padding-left: 8px;
  background-color: unset;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L {
  background-color: var(--background-secondary-alt);
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: var(--border-radius);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .headerTextNormal-Z8we9g {
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: var(--background-primary);
  padding: 5px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .body-u1Y8uL {
  padding: 8px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .body-u1Y8uL + div {
  margin-top: 0;
  padding: 0 8px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .body-u1Y8uL + div button {
  padding: 2px 8px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L > .buttonsWrapper-2ARRp1 {
  padding: 0 5px;
  width: calc(100% - 10px);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L .platformIcon-k3yytQ {
  display: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .bodyTitle-2Az3VQ {
  text-align: center;
  background-color: var(--background-primary);
  padding: 5px;
  margin-bottom: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa {
  flex-direction: column;
  margin: 0 0 8px 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-secondary-alt);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .role-2TIOKu {
  position: relative;
  overflow: hidden;
  border: none;
  margin: 4px 4px 0 4px;
  border-radius: var(--border-radius);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .role-2TIOKu:last-child {
  margin-bottom: 8px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .role-2TIOKu:empty {
  padding: 50px 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .roleCircle-1EgnFN::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  pointer-events: none;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .roleCircle-1EgnFN {
  margin: 0;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .rolesList-3uZoaa .roleName-2ZJJYR {
  z-index: 1;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin: 0 0 0 4px;
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .note-Go5ZP2 {
  margin: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-secondary-alt);
}
:root .userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .note-Go5ZP2 textarea:focus {
  background-color: transparent;
}
:root .userPopout-2j1gM4 .body-2wLx-E::-webkit-scrollbar {
  display: none;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC {
  position: absolute;
  top: 164px;
  left: 20px;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC .avatar-2Vndt_ {
  border: none;
  background: none;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC .avatar-2Vndt_ foreignObject {
  mask: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC .avatar-2Vndt_ .pointerEvents-9SZWKj {
  display: none;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC .avatarHint-k7pYop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
:root .userPopout-2j1gM4 .avatarWrapperNormal-ahVUaC .avatarHint-k7pYop foreignObject {
  mask: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}
:root .userPopout-2j1gM4 .footer-3naVBw {
  grid-area: footer;
  margin-top: 8px;
  padding: 0;
}
:root .container-2O1UgZ {
  border-radius: var(--border-radius);
  border: none;
}
:root .container-2O1UgZ .item-1BCeuB .popoutRoleDot-2_Nt5g {
  border: none;
}
:root .container-2O1UgZ .item-1BCeuB:hover {
  border-radius: var(--border-radius);
}
:root .root-8LYsGj {
  border-radius: var(--border-radius);
}
:root .root-8LYsGj .topSection-13QKHs {
  background-color: var(--background-primary);
}
:root .root-8LYsGj .topSection-13QKHs > header {
  display: flex;
  flex-direction: column;
}
:root .root-8LYsGj .topSection-13QKHs > header .header-S26rhB {
  padding: 15px 8px;
  background-color: var(--background-secondary-alt);
}
:root .root-8LYsGj .topSection-13QKHs > header .header-S26rhB .avatar-3QF_VA {
  top: -66px;
  border-width: 8px 0;
  border-color: transparent;
  background-color: transparent;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  overflow: hidden;
}
:root .root-8LYsGj .topSection-13QKHs > header .header-S26rhB .avatar-3QF_VA foreignObject {
  mask: none;
}
:root .root-8LYsGj .topSection-13QKHs > header .header-S26rhB .headerTop-1PNKck {
  position: static;
  justify-content: flex-end;
}
:root .root-8LYsGj .topSection-13QKHs > header .header-S26rhB .headerTop-1PNKck .badgeList-2aoHPw > * img {
  width: 30px;
  height: 30px;
}
:root .root-8LYsGj .topSection-13QKHs > header .nameTag-2Nlmsy {
  margin: 0;
  padding: 20px;
}
:root .root-8LYsGj .tabBarContainer-sCZC4w {
  padding: 0;
  border-bottom: none;
}
:root .root-8LYsGj .tabBarContainer-sCZC4w .tabBar-2hXqzU {
  justify-content: space-around;
}
:root .root-8LYsGj .tabBarContainer-sCZC4w .tabBar-2hXqzU .tabBarItem-30Te4- {
  margin-right: 0;
  z-index: 1;
  position: relative;
}
:root .root-8LYsGj .activity-2M3PRB {
  position: relative;
  z-index: 1;
}
:root .root-8LYsGj .activityProfile-1712BN {
  background-color: var(--background-primary);
  margin: 10px;
  border-radius: var(--border-radius);
}
:root .root-8LYsGj .body-1Ukv50 {
  z-index: 1;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir {
  border-top: none;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t {
  justify-content: flex-start;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli {
  position: relative;
  width: 110px;
  flex-direction: column;
  overflow: hidden;
  border: none;
  margin: 5px;
  padding: 10px;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t {
  position: relative;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
  z-index: 2;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 {
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: center;
  overflow: visible;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 .connectedAccountName-j0meX4 {
  text-align: center;
  margin: 0;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountNameInner-t24B11 span {
  display: none;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .anchor-1MIwyf {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .anchor-1MIwyf > svg {
  display: none;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t + .connectedAccountNameInner-t24B11::before {
  content: "";
  position: absolute;
  top: -65px;
  left: -10px;
  z-index: -1;
  width: 130px;
  height: 91px;
  border-radius: var(--border-radius);
  opacity: 0.25;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/6a853b4c87fce386cbfef4a2efbacb09.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #191717;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #1ED760;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/d897626dfa2016ea3ad0af935acb6070.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #000000;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #5DC21E;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #FF4500;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #553092;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #1DA1F2;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #D9252A;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #009AE5;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/32045743cb7670855ae726743c949e0c.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #2D3283;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/94dc6f30a819026fa295d85f1f72b4ab.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #CEA146;
}
:root .root-8LYsGj .body-1Ukv50 .userInfoSection-2u2hir .connectedAccounts-1YaT2t .connectedAccount-1xKpli .connectedAccountIcon-2vls0t[src="/assets/7bab4490382024b0c8c29b5378eeaf8f.svg"] + .connectedAccountNameInner-t24B11::before {
  background-color: #004197;
}
:root .userPopout-2j1gM4 .banner-1YaD3N,
:root .root-8LYsGj .banner-1YaD3N {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}

:root .typeMacOS-3V4xXE {
  margin-top: 20px;
  background-color: var(--background-tertiary);
}
:root .layers-OrUESM {
  margin: 20px 0 40px 0;
  z-index: 1;
}
:root .layers-OrUESM > .layer-86YKbF:first-child {
  opacity: 1 !important;
  transform: scale(1) !important;
}
:root .layers-OrUESM > .layer-86YKbF.stop-animations:first-child {
  z-index: 1;
  transform: scale(1) !important;
}
:root .layers-OrUESM > :nth-child(2) {
  height: 100%;
  left: 72px;
  z-index: 2;
  background-color: transparent;
  transform: scale(1) !important;
}
@media (min-width: 1350px) {
  :root .standardSidebarView-E9Pc3j {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    overflow: hidden;
  }
}
:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG {
  flex: unset;
}
:root .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG .sidebar-nqHbhN {
  width: 232px;
  padding: 60px 10px;
}
:root .contentColumn-1C7as6, :root .customColumn-2n-oKU, :root .hero-1aNo0v, :root .notificationSettings-1U0JsJ, :root .noticeRegion-qjyUVg, :root .customScroller-m1-jZn > div, :root .userSettingsVoice-1_dzjw {
  max-width: 95%;
}
:root .featuresHeader-2bjq5B {
  text-align: center;
}
:root .userSettingsVoice-1_dzjw .children-1xdcWE > :nth-child(9) .flexChild-3PzYmX:last-child {
  flex: 1 !important;
}
:root .noticeRegion-qjyUVg {
  right: 0;
}
:root .noticeRegion-qjyUVg .container-20TyK0 {
  background-color: var(--background-tertiary) !important;
}
:root .closeButton-PCZcma {
  border: none;
}
:root .closeButton-PCZcma svg {
  width: 23px;
  height: 23px;
}
:root .keybind-13vtq8 {
  display: none;
}
:root .perksModal-fSYqOq {
  background: var(--background-primary);
}
:root .tierMarkerBackground-G8FoN4,
:root .tierHeaderLocked-1s2JJz,
:root .barBackground-unEPDT,
:root .icon-2TbMdT {
  background: var(--background-secondary-alt);
}
:root .option-2KkUJO.selected-rZcOL-,
:root .tierBody-16Chc9,
:root .perk-2WeBWW,
:root .tierMarkerInProgress-2Tdxjz {
  background: var(--background-secondary) !important;
}
:root .accountProfileCard-lbN7n- {
  margin-top: 160px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
  overflow: visible;
}
:root .accountProfileCard-lbN7n- .banner-1YaD3N {
  position: absolute;
  top: -160px;
  height: 150px;
  border-radius: var(--border-radius);
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W {
  height: 100px;
  align-items: center;
}
:root .accountProfileCard-lbN7n- .userInfo-regn9W .avatar-3mTjvZ {
  top: 8px;
  border-color: transparent;
  background-color: transparent;
}
:root .accountProfileCard-lbN7n- .background-3d_SjE {
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn {
  flex-direction: column;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn > :first-child {
  flex: 1 auto;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn > .preview-yzOwK1 {
  margin: 0;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO {
  display: grid;
  grid-template-areas: "avatar user-infos body" "banner banner body";
  grid-template-columns: 120px 1fr 1fr;
  grid-template-rows: 120px 1fr;
  width: unset !important;
  padding: 8px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO > div:first-child {
  grid-area: banner;
  position: static;
  width: 100%;
  height: calc(100% - 8px);
  margin: 8px 0 0;
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .avatarUploader-qEFQS2 {
  grid-area: avatar;
  position: relative;
  top: 0;
  left: 0;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .avatarUploader-qEFQS2 .avatarUploaderInner-p38nm2 {
  border: none;
  background: none;
  border-radius: var(--border-radius);
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat;
  background-size: cover;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .avatarUploader-qEFQS2 .avatarUploaderIcon-3-5PWB {
  display: none;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF {
  grid-area: user-infos;
  position: static;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin-left: 8px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .profileBadges-2pItdR {
  position: static;
  width: 100%;
  height: 100%;
  max-width: unset;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .profileBadges-2pItdR .profileBadge22-3GAYRy {
  width: 30px;
  height: 30px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .headerText-1-WmDq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: var(--background-primary);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .headerText-1-WmDq .headerTag-3GXZkV, :root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .headerText-1-WmDq .nickname-t08Mck {
  font-size: 16px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .headerTop-3GPUSF .setIdentityLink-hOFsMl {
  display: none;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF {
  grid-area: body;
  padding: 0 0 0 8px !important;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .customStatus-3XAoF9 {
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  padding: 36px 8px 8px 8px;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .customStatus-3XAoF9::before {
  content: "CUSTOM STATUS";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  font-size: 12px;
  text-align: center;
  color: var(--header-secondary);
  font-weight: bold;
  background-color: var(--background-primary);
  padding: 5px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .divider-1wtgZ3 {
  display: none;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .aboutMeSection-PUghFQ {
  margin-bottom: 8px;
  padding: 0 0 8px 0;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .aboutMeSection-PUghFQ .aboutMeTitle-3pjiS7 {
  justify-content: center;
  background-color: var(--background-primary);
  padding: 5px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF .aboutMeSection-PUghFQ .aboutMeBody-1J8rhz {
  padding: 0 12px;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF > :last-child {
  background-color: var(--background-secondary-alt);
  padding-bottom: 8px;
  border-radius: var(--border-radius);
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF > :last-child .fakeActivityTitle-3-_pB_ {
  text-align: center;
  background-color: var(--background-primary);
  padding: 5px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .profileCustomizationSection-2OOT4p .baseLayout-8AMrwn .profileBannerPreview-3mLIdO .popoutInfo-16MuYF > :last-child .fakeActivityTitle-3-_pB_ ~ * {
  padding: 0 8px;
}
:root .item-2idW98 {
  border-radius: var(--border-radius);
}
:root .item-2idW98 .radioBar-3w9XY- {
  border: none;
}
:root .item-2idW98 .radioBar-3w9XY-:first-child .radioIconForeground-2BMavi {
  color: var(--radio-bar-accent-color);
}
:root .formNotice-2nS8ey {
  border-radius: var(--border-radius);
}
:root .formNotice-2nS8ey, :root .cardPrimaryOutline-1ofwVz {
  border: none;
}
:root .cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .accountList-305sx3, :root .connection-107AGH {
  border-radius: var(--border-radius);
}
:root .connectionHeader-2rV1ze {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .premiumTabItem-1QTfBr .flex-2S1XBF {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
:root .premiumTabItem-1QTfBr .icon-Zc-uZZ {
  fill: var(--background-accent) !important;
  margin-right: 5px;
}
:root .feature-2IUcBI, :root .hero-1aNo0v {
  border-radius: var(--border-radius);
}
:root .gemIndicatorContainer-PqApbX {
  background-color: var(--background-tertiary);
}
:root .cardWrapper-CyvwQv, :root .wrapper-3nSjSv, :root .tierVertical-2ePkZj {
  border-radius: var(--border-radius);
}
:root .input-2g-os5 {
  border: none;
}
:root .paymentRow-1HKOLu, :root .pageActions-1crTQL, :root .codeRedemptionRedirect-3SBiCp, :root .paginator-1eqD2g {
  background: var(--background-secondary-alt);
}
:root .payment-2bOh4k:hover {
  background-color: var(--background-secondary);
}
:root .expandedInfo-1W31i3 {
  background: var(--background-secondary);
}
:root .checked-1pZh2h {
  background: transparent;
  border-color: transparent;
}
:root .bottomDivider-ZmTm-j {
  border-bottom-color: transparent;
}
:root .codeRedemptionRedirect-3SBiCp {
  border: none;
}
:root .paymentPane-ut5qKZ, :root .expandedInfo-1W31i3 {
  border-radius: var(--border-radius);
}
:root .barFill-2Bh7CX {
  background: var(--background-accent);
}
:root .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-secondary-alt);
  border: none;
}
:root .bar-1Bhnl9 {
  background-color: var(--background-secondary-alt);
}
:root .progress-1S-TDF {
  background-color: var(--background-primary);
}
:root .notches-2w7UZJ.gray-3wP137 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='none'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}
:root .css-118dehu-control, :root .css-gvi9bl-control, :root .css-6fzn47-control, :root .css-3vaxre-menu, :root .css-17e1tep-control {
  border: none;
}
:root .css-3vaxre-menu {
  background-color: var(--background-primary);
}
:root .css-gvi9bl-control, :root .css-118dehu-control, :root .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  border-radius: var(--border-radius);
}
:root .previewContainer-37c2Si .media-engine-video {
  background-color: transparent;
}
:root .container-1_EVMa {
  border: none;
}
:root .container-3jbRo5, :root .container-1_EVMa {
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ {
  background-color: var(--background-secondary-alt);
}
:root .game-3x3aDt {
  box-shadow: none;
}
:root .notDetected-2HEmAp, :root .addGamePopout-3yePJc, :root .card-2ART2V:before {
  background: var(--background-secondary-alt);
}
:root .gameNameInput-3TuPuA:hover, :root .gameNameInput-3TuPuA:focus {
  background-color: var(--background-tertiary);
}
:root .card-2ART2V:before, :root .gameNameInput-3TuPuA {
  border: none;
}
:root .default-1Tkeeg, :root .default-1Tkeeg:hover {
  background-color: var(--background-tertiary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .lastPlayed-3aHvxk {
  color: var(--text-muted);
}
:root .activeGame-3ncS55 {
  border-radius: var(--border-radius);
}
:root .addGamePopout-3yePJc {
  border: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
  border-radius: var(--border-radius);
}
:root .game-3x3aDt, :root .game-3x3aDt::before {
  border-radius: var(--border-radius);
}
:root .membershipDialog-2wAdpQ {
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ {
  border: none;
  border-radius: var(--border-radius);
}
:root .cardPrimary-3qRT__ .previewMessage-2uxBrA {
  border-radius: var(--border-radius);
}
:root .powercord-entities-manage-tabs, :root .developerPortalCtaWrapper-2XNafh {
  border-radius: var(--border-radius);
}
:root .bd-addon-list .bd-addon-card, :root .bd-search-wrapper, :root #floating-editor-window {
  border-radius: var(--border-radius);
}
:root .bd-select {
  border: none;
  transition: 0.15s;
  border-radius: var(--border-radius);
}
:root .bd-select .menu-open {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
:root .bd-select .bd-select-options {
  border: none;
  border-radius: var(--border-radius);
}
:root .bd-select .bd-select-options:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}
:root .bd-controls {
  border-radius: var(--border-radius);
  overflow: hidden;
}
:root .bd-controls > button {
  border-radius: unset !important;
}
:root .notice-2HEN-u[id] {
  margin: 0 450px -20px 0px;
  border-radius: 0 8px 0 0 !important;
}
:root .notice-2HEN-u[id] + .layers-OrUESM .guilds-2JjMmN + :nth-child(2) {
  border-radius: 0;
}
:root .notice-2HEN-u:not([id]) {
  border-top-left-radius: 0;
}
:root .container-2oNtJn {
  border-radius: var(--border-radius);
}
:root .avatarUploaderIndicator-2G-aIZ {
  display: none;
}
:root .css-6fzn47-control {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .css-17e1tep-control {
  border-radius: var(--border-radius);
}
:root .css-3vaxre-menu, :root .css-1ye7vu0 {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .container-3EtAkD {
  border-radius: var(--border-radius);
}
:root .colorPickerCustom-1swUKF {
  background: var(--background-secondary);
  border: none;
  border-radius: var(--border-radius);
}
:root .addRoleButton-3Y-nzm ~ .draggable-1EOU8o {
  margin: 2px 0;
}
:root .roleDot-2a4Pv7 {
  border: none;
}
:root .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background: var(--background-secondary-alt);
}
:root .input-2g-os5:focus {
  border-color: var(--background-accent);
}
:root .headerClickable-2IVFo9, :root .headerDefault-1wrJcN, :root .headerExpanded-CUEwZ5 {
  background: var(--background-secondary-alt);
}
:root .auditLog-3jNbM6, :root .header-GwIGlr {
  border: none;
  border-radius: var(--border-radius);
}
:root .auditLog-3jNbM6 .headerExpanded-CUEwZ5, :root .header-GwIGlr .headerExpanded-CUEwZ5 {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .auditLog-3jNbM6 .changeDetails-bk98pu, :root .header-GwIGlr .changeDetails-bk98pu {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .divider-1pnAR2 {
  display: none;
}
:root .cardPrimaryEditable-2mz_3i {
  border: none;
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .copyInput-3AbKWB {
  border: none;
  border-radius: var(--border-radius);
}
:root .descriptionBox-1EKQKL {
  border-radius: var(--border-radius);
}
:root .css-dwar6a-menu {
  background-color: var(--background-secondary-alt);
}
:root .error-3AuLwi {
  border-radius: var(--border-radius);
}
:root .featureCard-1RR4Tl, :root .checklistContainer-mFJZEJ {
  border-radius: var(--border-radius);
}
:root .checklistHeader-1KWcEY {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .checklist-3Y6Fqp {
  border-radius: var(--border-radius);
}
:root .checklist-3Y6Fqp .header-2Y0-A- {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .exampleContainer-2O-nVK {
  border-radius: var(--border-radius);
}
:root .enableContainer-6E-puu {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .previewContainer-1SS3uO {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .previewContainer-1SS3uO .welcomeChannel-1rFrIO {
  border-radius: var(--border-radius);
}
:root [aria-controls=GUILD_PREMIUM-tab], :root [aria-controls="Discord Nitro-tab"] {
  color: var(--background-accent) !important;
  background-color: var(--background-modifier-selected) !important;
}
:root .tierBody-x9kBBp {
  background-color: var(--background-secondary);
}
:root .tierHeaderContent-2-YfvN, :root .tierInProgress-1vFUnw {
  background: var(--background-tertiary);
}
:root .background-3xJH_4 {
  color: var(--background-secondary-alt);
}
:root .tierHeader-rlkkJd, :root .tierHeaderContent-2-YfvN {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .tierBody-x9kBBp {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
:root .overflowRolesPopout-1Puiuq, :root .overflowRolesPopoutArrow-2R7g3K {
  background-color: var(--background-secondary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}

:root .nowPlayingColumn-1eCBCN {
  position: fixed;
  top: 280px;
  bottom: 120px;
  right: 60px;
  width: 320px;
  min-width: unset;
  background-color: var(--background-primary);
}
:root .nowPlayingColumn-1eCBCN::before {
  content: "Amis Connectes";
  position: absolute;
  top: -60px;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  color: var(--header-primary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .nowPlayingColumn-1eCBCN::after {
  content: "";
  position: absolute;
  bottom: -35px;
  z-index: 1;
  width: 100%;
  height: 35px;
  background-color: var(--background-secondary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 21px 2px;
  background-repeat: repeat-x;
}
:root .container-2cd8Mz {
  background-color: var(--background-primary);
}
:root .container-2cd8Mz .children-3xh0VB:after {
  content: none;
}
:root .container-2cd8Mz .container-ZMc96U {
  background: unset;
}
:root .container-2cd8Mz .peopleListItem-u6dGxF {
  border-radius: var(--border-radius);
  border-top: none;
  background: var(--background-modifier-hover);
  margin: 8px 10px 8px 20px;
  padding: 16px 10px;
}
:root .container-2cd8Mz .peopleListItem-u6dGxF:hover .actionButton-3-B2x- {
  background-color: var(--background-secondary-alt);
}
:root .nowPlayingColumn-1eCBCN .scroller-hE2gWq {
  border: none;
}
:root .controlButton-2PMNom foreignObject {
  mask: none;
}
:root .colorable-3rVGna.primaryDark-2UJt1G {
  background-color: var(--background-primary);
}
:root .wrapper-1gVUIN {
  background-color: var(--background-tertiary);
}
:root .inset-SbsSFp {
  background-color: var(--background-primary);
}
:root .separator-2OaeRP {
  display: none;
}
:root .voiceSectionIconWrapper-4yoj76 {
  background-color: var(--background-tertiary);
}
:root .outer-2JOHae.active-1W_Gl9, :root .outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--activity-card-background);
}
:root .itemCard-3Etziu {
  border-radius: var(--border-radius);
}
:root .itemCard-3Etziu .body-16rSsp {
  border-radius: calc(var(--border-radius) - 10px);
}
:root .quickSelectPopout-2F0PXw.regionSelectPopout-3sEzVB {
  background-color: var(--background-secondary-alt);
}

:root .app-3xd6d0::before, :root .app-3xd6d0::after, :root .app-2CXKsg::after, :root .app-2CXKsg::before, :root .layers-OrUESM::before, :root .layers-OrUESM::after, :root .app-3xd6d0::before, :root .bg-1QIAus::after, :root .bg-1QIAus::before {
  content: "";
  position: fixed;
  z-index: 1;
  pointer-events: none;
}
:root .app-3xd6d0::before {
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
  background: url("https://i.imgur.com/jTpFJuI.png") no-repeat;
  background-size: 100%;
}
:root .app-3xd6d0::after {
  z-index: 0;
  left: 50px;
  bottom: 0;
  width: 490px;
  height: 40px;
  background: url("https://i.imgur.com/KQQWcTY.png") no-repeat;
  background-size: 100%;
}
:root .app-2CXKsg::before {
  top: 80px;
  right: 116px;
  width: 200px;
  height: 120px;
  background: url("https://i.imgur.com/0nsnP69.png") no-repeat;
  background-size: 100%;
}
:root .app-2CXKsg::after {
  bottom: 20px;
  right: 45%;
  width: 40px;
  height: 40px;
  background: url("https://i.imgur.com/OBSWYht.png");
  background-size: 100%;
}
:root .layers-OrUESM::before {
  z-index: 0;
  bottom: 75px;
  right: 0;
  width: 20px;
  height: 50px;
  background: url("https://i.imgur.com/WveiFXb.png") no-repeat;
  background-size: 100%;
}
:root .layers-OrUESM::after {
  bottom: 15px;
  right: 100px;
  width: 25px;
  height: 25px;
  background: url("https://i.imgur.com/WBUag7e.png") no-repeat;
  background-size: 100%;
}
:root .bg-1QIAus::after {
  top: 45px;
  right: 385px;
  width: 30px;
  height: 30px;
  background: url("https://i.imgur.com/aOYvahh.png") no-repeat;
  background-size: 100%;
}
:root .bg-1QIAus::before {
  z-index: 2;
  bottom: 30%;
  right: 430px;
  width: 30px;
  height: 40px;
  background: url("https://i.imgur.com/JMoXBIs.png") no-repeat;
  background-size: 100%;
}
@media (max-width: 1350px) {
  :root .bg-1QIAus::before {
    display: none;
  }
}

:root ::-webkit-input-placeholder, :root body, :root button, :root input, :root select, :root textarea {
  font-family: "Nunito" !important;
}
:root .bg-1QIAus {
  background: var(--background-tertiary-alt);
  background-size: cover;
  background-repeat: no-repeat;
}
:root .winButton-3UMjdg {
  background-color: var(--background-primary);
}
:root .winButton-3UMjdg:last-child {
  border-bottom-left-radius: 8px;
}
:root button, :root input, :root textarea, :root .item-3XjbnG:not([class^=tabBarItem-]), :root .menu-1QACrS {
  border-radius: var(--border-radius) !important;
}
:root .modal-2RrUKJ, :root .root-g14mjS, :root .uploadModal-2ie9O_ {
  border-radius: var(--border-radius);
  background-color: var(--background-secondary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .footer-31IekZ, :root .footer-VCsJQY {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--background-tertiary);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
}
:root .menu-1QACrS {
  overflow: hidden;
}
:root .scroller-1bVxF5 {
  padding: 0;
}
:root .scroller-1bVxF5::-webkit-scrollbar, :root .scroller-1bVxF5 .separator-1So4YB {
  display: none;
}
:root .scroller-1bVxF5 .item-1OdjEX {
  padding: 10px 10px 10px 13px;
  margin: 0;
  transition: 0.15s;
  border-radius: 0;
}
:root .scroller-1bVxF5 .submenuContainer-3EVTeH .layer-2aCOJ3 {
  margin: 0 -8px;
}
:root #status-picker {
  left: -6px;
  width: 319px;
}
:root #status-picker .description-3Cwkxk {
  display: none;
}
:root .select-1Ia3hD,
:root .popout-1KHNAq {
  border: none;
}
:root .select-1Ia3hD.open-1FRZsK,
:root .popout-1KHNAq {
  background-color: var(--background-secondary-alt);
  transition: 0.15s;
}
:root .theme-dark .footer-31IekZ {
  background: var(--background-tertiary);
}
:root .select-1Ia3hD, :root .popout-1KHNAq {
  border: none;
}
:root .titleBar-1it3bQ .wordmark-2u86JB {
  display: none;
}
:root .powercord-toast {
  border-radius: var(--border-radius);
}
:root .powercord-toast .header {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
:root .powercord-toast .buttons > .button-f2h6uQ:first-child {
  border-bottom-left-radius: var(--border-radius);
}
:root .powercord-toast .buttons > .button-f2h6uQ:last-child {
  border-bottom-right-radius: var(--border-radius);
}
:root .sprite-2lxwfc {
  filter: none !important;
}
:root .header-1c1AhF {
  overflow-x: visible;
}
:root .categoryItem-1QIroW .itemInner-gPkiWb {
  background-color: transparent;
}
:root .pageWrapper-2PwDoS {
  background-color: var(--background-primary);
}
:root .notice-12Koq- {
  border-top-left-radius: 0;
  background-color: var(--background-tertiary);
}
:root .button-3_1yil:hover {
  background-color: transparent;
}
:root .headerImage-2D5D-v, :root .card-2TuZPZ {
  border-radius: var(--border-radius);
}
:root .tile-2TcwiO {
  background-color: var(--background-secondary-alt);
  border-radius: var(--border-radius);
}
:root .tile-2TcwiO .button-3Vyz67 {
  background-color: var(--background-accent);
}
:root .contentWrapper-3oy4Xo {
  background: var(--background-secondary);
}
:root .root-g14mjS:not(.modal-3Crloo) {
  background: var(--background-secondary);
}
:root .keyboardShortcutsModal-2CRmCm {
  background: var(--background-secondary);
}
:root .scroller-s-wehS {
  background: var(--background-primary);
}
:root .whyYouMightLikeIt-2N2Df7, :root .content-1W9-9i, :root .bodySection-3iDdop, :root .row-2qQ--F {
  background: var(--background-secondary);
}
:root .toolbar-37BrJ5 {
  display: flex !important;
  background-color: var(--background-secondary-alt);
}
:root .toolbar-37BrJ5::before {
  border-top: 8px solid var(--background-secondary-alt);
}
:root .toolbar-37BrJ5 .button-lA2rvH {
  background-color: transparent !important;
}
:root .ready-3BZNWT {
  display: none;
}
:root .ready-3BZNWT + .text-2bYgPB {
  top: 82px;
}
:root .ready-3BZNWT + .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: url("https://i.imgur.com/dCd49s0.gif") center/80% no-repeat;
}
:root #permissions-modal-wrapper #permissions-modal {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(56, 31, 31, 0.11) !important;
  border-color: var(--background-tertiary) !important;
}
:root #permissions-modal-wrapper .header {
  background: var(--background-tertiary) !important;
  text-align: center !important;
}
:root #permissions-modal-wrapper .role-side,
:root #permissions-modal-wrapper .perm-side {
  background: var(--background-secondary) !important;
}
:root #MemberCount {
  width: 320px;
}
@media (max-width: 1350px) {
  :root #MemberCount {
    background-color: var(--background-primary);
  }
}
@media (min-width: 1350px) {
  :root #MemberCount .membersGroup-2eiWxl {
    padding-top: 12px;
  }
}
:root .total-members.counts {
  background-color: var(--background-primary);
}

@media (min-width: 1350px) {
  .chatContent-3KubbW + :last-child {
    position: fixed;
    top: 280px;
    bottom: 120px;
    right: 60px;
    width: 320px;
    height: unset;
  }

  .tabBody-2dgbAs {
    transform: none;
  }

  .container-1eFtFS::after {
    content: "McDo Theme V1.2";
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    z-index: -2;
    width: 320px;
    background-color: var(--background-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--text-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .container-1eFtFS::before {
    content: "";
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 70px;
    z-index: -1;
    width: 300px;
    border-radius: var(--border-radius);
    background: var(--jumping-gif) bottom/40% no-repeat;
  }

  .guilds-2JjMmN + :nth-child(2) {
    margin-right: 450px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  .panels-3wFtMD > .container-YkUktl {
    position: fixed;
    width: 305px;
    height: 50px;
    bottom: 28px;
    right: 60px;
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
  }

  .container-1eFtFS {
    overflow: visible;
  }

  .layers-OrUESM > :nth-child(2) {
    margin-right: 450px;
  }
}